  
     body
     {
      width: auto;
     }

      .zdf {
        width: 1300px;
        height: 200px;
        object-fit: cover;
        vertical-align: auto;
        margin-top: 40px;
        margin-left: 20px;
        border-radius: 3px;
        text-align: center;
        vertical-align: text-top
      }

      .img {
        max-width: max-content;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-left: 620px;
        margin-bottom: 24px;
      }
      .search_button {
        max-width: 100%;
        width: 138px;
        height: 38px;
        font-family:"El Messiri",sans-serif;
        color: rgb(41, 115, 218);
        border-style: solid;
        border-color: rgb(41, 115, 218);
        border-radius: 5px;
        vertical-align: top;
        text-align: center;
        align-self: center;
        margin-left: 15px;
        margin-right: 10px;
        

      }
      .subscribe_button {
        background-color: rgba(200, 0, 0);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: opacity 0.15s;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: opacity 0.15s;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        align-items: center;
        align-self: center;
        width: 1300px;
      }

      .subscribe_button:hover {
        opacity: 0.8;
      }

      .subscribe_button:active {
        opacity: 0.5;
      }

      .h1 {
        font-family: "El Messiri", sans-serif;
        margin-right: 40px;
        color: rgb(3, 199, 36);
        font-weight: bolder;
      }

      .join_button {
        font-size: 14px;
        text-underline-offset: 17px;
        background-color: white;
        border-color: rgb(41, 115, 218);
        border-style: solid;
        height: 20px;
        width: 120px;
        border-width: 2px;
        color: rgb(41, 118, 211);
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        transition: background-color 1s, color 1s;
        }

       .join_button:hover {
        background-color: rgb(41, 115, 218);
        color: white;
       }

       .join_button:active {
        opacity: 0.7s;
      }

      .div-stylish {
        display: grid;
        font-family:"El Messiri", sans-serif;
        font-size: 8px;
        grid-template-columns: 142px 142px 142px 142px;
        direction: rtl;
        vertical-align: top;
        column-gap: 15px;
        row-gap: 15px;
        height: 30px;
      }
      
      .video-title {
        font-family: "El Messiri", sans-serif;
        color: rgb(2, 99, 15);
        font-size: 20px;
        text-align: justify;
        width: fit-content;
        margin-left: 40px;
        margin-right: 40px;
        font-weight: bold;
        line-height: 30px;
      }

      .persian-font {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: rgb(1, 61, 9);
        width: fit-content;
        margin-left: 40px;
        margin-right: 40px;
        line-height: 30px;
      }
      .search-bar{
        font-size: 20px;
      }      
      .Title {
        font-family: "El Messiri", sans-serif;
        display: block;
        width: auto;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 30px;
        padding-right: 20px;
        text-align: center;
        position: inherit;
        font-size: 36px;
        color: rgb(24, 158, 24);
         }
      
      .مروراجمالی {
        font-family: "El Messiri", sans-serif;
        font-size: 20px;
        font-style: normal ;
        color: rgb(1, 100, 100);
        margin-left: 300px;
      }
      
      .اصلی {
        font-family: "El Messiri", sans-serif;
        font-size: 20px;
        font-style: normal;
        color:rgb(1, 100, 100);
        direction: rtl;
        margin-left: 50px;
      }
      .انواع {
        font-family: "El Messiri", sans-serif;
        font-size: 20px;
        font-style: normal;
        color:rgb(1, 100, 100);
        direction: rtl;
        margin-left: 50px;
      }
      .الگوی {
        font-family: "El Messiri", sans-serif;
        font-size: 20px;
        font-style: normal;
        color:rgb(1, 100, 100);
        direction: rtl;
        margin-left: 50px;
      }
      .حامل {
        font-family: "El Messiri", sans-serif;
        font-size: 20px;
        font-style: normal;
        color:rgb(1, 100, 100);
        direction: rtl;
        margin-left: 50px;
      }
